.new-product>img{
    height: 320px;
    object-fit: cover;
}

.pro-img>img{
    /* width: 270px; */
    height: 320px;
    object-fit: cover;
}


.avatar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}



.btn-danger{
    width: 5%;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: none;
}

.btn-default {
    background-color: #f8f9fa;
    border-color: #ddd;
    color: #444;
}